<a href="https://colab.research.google.com/github/KadidjaValeria/TecnicasdeDesenvolvimento-de-Algoritmo_TecnicasdeProgramacao/blob/main/Atividades_Python_ListaTuplaDicionario_TDS_IFB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Nome**: (registre o seu nome no seu notebook)

**Disciplina**: Desenvolvimento de sistema web

Lista_Tupla_Dicionário (atividades práticas)

Listas: Documentação Python disponível em:

https://docs.python.org/pt-br/3/tutorial/datastructures.html

Dica de GitHub (Profissional) : https://github.com/VictorGM01

In [1]:
'''
Agenda
● Introdução
● Listas
● Exemplos e Exercı́cios
'''
print()

In [2]:
'''
Uma lista em Python é uma estrutura que armazena vários dados,
que podem ser de um mesmo tipo ou não.
● Uma lista é criada como a construção: [dado1,dado2,...,dadon]
'''
lista1 = [10, 20, 30, 40]
lista2 = ["programação", "IFB", "python"]
lista3 = ["oi", 2.0, 5, [10, 20]]
print (lista1)
print (lista2)
print (lista3)

[10, 20, 30, 40]
['programação', 'IFB', 'python']
['oi', 2.0, 5, [10, 20]]

In [3]:
#Como usar listas
notas = [8.0, 5.5, 9.3, 7.6, 3.1]
print(notas[0])
print(notas[1])
print(notas[2])
print(notas[3])
print(notas[4])
print(type(notas), len(notas))

8.0
5.5
9.3
7.6
3.1
<class 'list'> 5

In [4]:
print(notas[0] + 2)
notas[3] = 0.5

10.0

In [ ]:
print(notas)

In [5]:
for i in range(5):
  print(notas[i])

8.0
5.5
9.3
0.5
3.1

In [6]:
#Quais valores serão armazenados em cada posição da lista após a
#execução deste código abaixo?
lista = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
for i in range(10):
  lista[i] = 5*i
print(lista)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [8]:
#Índices negativos se referem à lista da direita para a esquerda:
#Ocorre um erro se tentarmos acessar uma posição da lista que
#não existe.
notas = [8.0, 5.5, 9.3, 0.5, 3.1]
print(notas[-1])
print(notas[-2])
print(notas[-3])
print(notas[-4])
print(notas[-5])

3.1
0.5
9.3
5.5
8.0

In [9]:
#Slicing
print(notas[1:4])

[5.5, 9.3, 0.5]

In [10]:
#tamanho da lista (len)
len(notas)

5

In [11]:
'''
Listas: for
● Lembre-se que o for na verdade faz a variável de controle assumir
todos os valores de uma lista.
'''
for i in range(len(notas)):
  print(notas[i])

8.0
5.5
9.3
0.5
3.1

In [12]:
#E também pode ser implementado como:
for i in notas:
  print(i)

8.0
5.5
9.3
0.5
3.1

In [13]:
'''
Listas: método append
● Uma operação importante é acrescentar um item no final de uma lista.
Isto é feito pela função append.
'''
#lista.append(item) #método para inserir um item no final da lista, como a lista é notas, o exemplo segue abaixo)
notas.append(10.0)
print(notas)
len(notas)

[8.0, 5.5, 9.3, 0.5, 3.1, 10.0]

6

In [14]:
'''
Listas: método append
notas = []
n = int(input("Entre com o número de notas: "))
for i in range(n):
  dado = float(input("Entre com a nota " + str(i) + ": "))
notas.append(dado)
print(notas) combinação de uma lista vazia que vai sofrendo “appends” permite ler dados e preencher uma lista com estes dados:
'''
notas=[]
for i in range(5):
  dado = float(input("Entre com a nota " + str(i) + ": "))
  notas.append(dado)
print(notas)

Entre com a nota 0: 3
Entre com a nota 1: 4
Entre com a nota 2: 4
Entre com a nota 3: 6
Entre com a nota 4: 9
[3.0, 4.0, 4.0, 6.0, 9.0]

In [15]:
'''
Listas: operador +
● A operação de soma em listas gera uma nova lista que é o resultado
de “grudar” lista2 ao final da lista1. Isto é conhecido como
concatenação de listas.
lista1 + lista2
'''
lista1 + lista2

[10, 20, 30, 40, 'programação', 'IFB', 'python']

In [16]:
x=lista1 + lista2
print(x)

[10, 20, 30, 40, 'programação', 'IFB', 'python']

In [17]:
'''
Listas: operador *
● O operador “*” faz repetições da concatenação:
● O resultado da operação do exemplo é o mesmo que somar
(concatenar) 4 vezes a lista x.
x = [1, 2, 3]
y = 4*x
print(y)
'''
x=[1,2,3]
y=4*x
print(y)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

Este código demonstra o uso do método `insert()` para adicionar um elemento em uma posição específica de uma lista.

- `x = [40, 30, 10, 20, ...,]` cria uma lista `x` com alguns elementos. Note que `...` não é sintaxe Python válida para a criação de listas, mas no contexto do exemplo, parece ser uma representação de que a lista continua.
- `x.insert(10, 99)` tenta inserir o valor `99` na posição de índice `10` da lista `x`. Se o índice for maior que o tamanho da lista, o elemento é adicionado ao final.
- `print(x)` imprime a lista `x` após a inserção.

In [18]:
'''
Outros Métodos em Listas
● lista.insert(índice,dado) insere na lista o dado antes da
posição ı́ndice.
x = [40, 30, 10, 20]
x.insert(0,99)
print(x)
'''
x=[40,30,10,20,...,]
x.insert(1000,99) #x.insert(10, 99) tenta inserir o valor 99 na posição de índice 1000 da lista x.
                  #Se o índice for maior que o tamanho da lista, o elemento é adicionado ao final.
print(x)

[40, 30, 10, 20, Ellipsis, 99]

In [19]:
'''
del lista[posição] remove da lista o item da posição
especificada.
x = [40, 99, 30, 10, 20]
del x[4]
print(x)
'''
del x[2]
print(x)

[40, 30, 20, Ellipsis, 99]

In [20]:
'''
Também podemos remover um item da lista pelo valor utilizando o
método remove.
x = [40, 99, 10, 20]
x.remove(10)
print(x)
'''
x=[40,99,10,20]
x.remove(10)
print(x)

[40, 99, 20]

In [21]:
'''
● Podemos contar o número de elementos na lista com um certo valor
usando o método count.
x = [40, 99, 10, 20, 13, 20, 14]
N = x.count(20)
print(N)
'''
x=[40,99,10,20,13,20,14]
N = x.count(14) #conta quantas vezes o número está na lista
print(N)

1

In [22]:
'''
Informações Extras: Inicialização de uma Lista
● Em algumas situações é necessário declarar e já atribuir um conjunto
de valores constantes para uma lista.
● Dentro da lista incluı́mos uma construção com um laço que gerará
valores iniciais para a lista.
x = [0 for i in range(5)]
print (x)
[0, 0, 0, 0, 0]
x = [2*i for i in range(5)]
print (x)
[0, 2, 4, 6, 8]
'''

'\nInformações Extras: Inicialização de uma Lista\n● Em algumas situações é necessário declarar e já atribuir um conjunto\nde valores constantes para uma lista.\n● Dentro da lista incluı́mos uma construção com um laço que gerará\nvalores iniciais para a lista.\nx = [0 for i in range(5)]\nprint (x)\n[0, 0, 0, 0, 0]\nx = [2*i for i in range(5)]\nprint (x)\n[0, 2, 4, 6, 8]\n'

Tarefa de aprendizagem: resolver os exercícios das apresentações disponível no NEAD. ⏰

**Dia 13/10: iniciaremos com as dúvidas que surgiram**

In [23]:
'''
#Exercícios
Faça um programa que leia um número n e imprima n linhas na tela
com o seguinte formato (exemplo se n 5):
Exemplo de Solução (com Laços Encaixados)
'''
n=int(input())
for i in range (1,n+1):
  for j in range (1,i+1):
    print (j, end=" ")
  print (" ")

3
1
1 2
1 2 3

O parâmetro `end=" "` na função `print()` é usado para especificar o que deve ser impresso no final da saída. Por padrão, o `print()` adiciona uma quebra de linha (`\n`) ao final de cada impressão. Ao usar `end=" "`, você substitui essa quebra de linha por um espaço em branco (`" "`), fazendo com que as próximas impressões continuem na mesma linha.

In [24]:
'''
Exemplo de Solução
● Faça um programa que leia um número n e imprima n linhas na tela com o seguinte formato (exemplo se n 5)
'''
n=int(input("Digite um número:   "))
lista=[]
for i in range (1, n+1):
  lista.append(i)
  for j in lista:
    print(j,end=" ")
  print(" ")

Digite um número:   5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [25]:
'''
Exemplo
de Solução
● Faça um programa que leia um número n e imprima n linhas na tela
com o seguinte formato (exemplo se n 5)
'''
n=int(input("Digite um número:   "))
l=[]
for i in range (1,n+1):
  l.append(i)
  print(l)

Digite um número:   4
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]

In [26]:
'''
Exercício
● Faça um programa que leia n notas, mostre as notas e a média.
Entrada   Saída
5         [8.0, 5.5, 9.3, 0.5, 3.1]
8.0                  5.3
5.5
9.3
0.5
3.1
'''
#Mostra as n notas
#Essa parte lê as n notas e mostra na tela.
notas = []
n=int(input("Digite a quantidade de notas: "))
for i in range(n):
  dado=float (input ())
  notas.append(dado)
print (notas)

#Calcula a média
#Essa parte calcula a média e mostra na tela.
soma = 0
for i in range(len(notas)):
  soma=soma+notas[i]
media = soma/n
print (format(media,".1f"))

KeyboardInterrupt: Interrupted by user

In [ ]:
#Faça um programa que leia n notas, mostre as notas e a média.
# Mostra as n notas
notas =[]
n = int(input("Entre com o número de notas:"))
for i in range(n):
  dado=float(input("Entre com a nota "+ str(i+1) + ": "))
  notas.append(dado)
print(notas)


# Calcula a média
soma=0
for i in range(len(notas)):
  soma=soma+notas[i]
media = soma/len(notas) #Ou media=soma/n
print(format(media,".1f"))

In [ ]:
'''
Faça um programa que leia n notas, mostre as notas e a média.
# Mostra as n notas e Calcula a média
'''
notas=[]
soma=0
n = int(input("Entre com o número de notas: "))
for i in range(n):
  dado=float(input("Entre com a nota  " + str (i+1) +": "))
  notas.append(dado)
  soma = soma + dado # <=
print(notas)

#Calcular a média
media = soma/n
print(format(media,".1f"))

![Lista_Exercicio.png]()

In [ ]:
x=[]
y=[]
for i in range(5):
  x.append(int(input()))
print ()

for i in range(5):
  y.append(int(input()))
print ()

um_elemento_comum=False

#Supomos que não temos elementos comuns
for i in range(len(x)):
  for j in range(len(y)):
    if(x[i]==y[j]):
      um_elemento_comum = True #há elemento comum
      print(str(x[99]))

if not um_elemento_comum:
  print ("Não tem elemento comum.")

In [ ]:
x=[]
y=[]
for i in range(5):
  x.append(int(input()))
print()

for i in range(5):
  y.append(int(input()))
print ()

um_elemento_comum=False

#Supomos que não temos elementos comuns
for a in x:
  for b in y:
    if (a==b):
      um_elemento_comum = True #há elemento comum
      print (str (a))
      3
if not um_elemento_comum:
  print ("Não tem elemento comum.")

Os dois blocos de código abaixo (células `uUspl91N4OTz` e `U85a9n1v4Vat`) fazem a mesma coisa, apenas com uma pequena diferença na forma de iterar pelas listas.

Ambos os códigos têm o objetivo de:

1.  **Criar duas listas vazias**: `x` e `y`.
2.  **Preencher a lista `x`**: Lê 5 números inteiros da entrada do usuário e adiciona cada um à lista `x` usando o método `append()`.
3.  **Preencher a lista `y`**: Lê mais 5 números inteiros da entrada do usuário e adiciona cada um à lista `y` usando o método `append()`.
4.  **Verificar se há elementos em comum**: Percorre os elementos da lista `x` e compara cada um com os elementos da lista `y`.
5.  **Imprimir elementos comuns ou mensagem**:
    *   Se um elemento comum for encontrado, ele é impresso na tela.
    *   Se nenhum elemento comum for encontrado após verificar todas as combinações, a mensagem "Não tem elemento comum." é impressa.

A principal diferença entre as células `uUspl91N4OTz` e `U85a9n1v4Vat` está na forma como elas iteram pelas listas para encontrar elementos comuns:

*   A célula `uUspl91N4OTz` usa índices (`for i in range(len(x))` e `for j in range(len(y))`) para acessar os elementos de `x` e `y`.
*   A célula `U85a9n1v4Vat` itera diretamente sobre os elementos das listas (`for a in x` e `for b in y`), o que geralmente é considerado mais "pythônico" e legível quando você só precisa dos valores dos elementos.

Além disso, na célula `uUspl91N4OTz`, há uma linha `print(str(x[99]))` dentro do loop condicional que causaria um erro `IndexError` se fosse executada (pois o índice `99` está fora do intervalo da lista `x`, que tem 5 elementos). Na execução que você mostrou, essa linha não foi alcançada porque a condição `if(x[i]==y[j])` nunca foi verdadeira (já que você digitou números de 1 a 5 para `x` e de 6 a 10 para `y`, que não têm elementos em comum).

Ambos os códigos atingem o objetivo de verificar a interseção entre as duas listas.

#20/10 _ Práticas de listas, tuplas e dicionário:

In [ ]:
# Cria a lista de nomes para o sorteio
lista_para_sorteio = [
    "Arthur Ximenes de Oliveira",
    "Davi Cardoso Andrade Alves de Lima",
    "Leandro Oliveira Macioski",
    "Luiza Alves dos Santos",
    "Marcelo de Souza Franco",
    "Marlon Oliveira Kremer",
    "Mateus Brandão de Castro",
    "Matheus Keven Felix Rodrigues",
    "Miguel Neiva Brito",
    "Nathanael Rocha Cruz",
    "Sabrina Cristina Ilha Silva",
    "Vítor Henrique Oliveira Fernandes",
    "Wânia Ferreira de Oliveira da Silva",
    "Kadidja Valéria"
]

# Agora você pode usar a função 'sortear_nome' da próxima célula com esta lista
# Exemplo:
# print("Nome sorteado:", sortear_nome(lista_para_sorteio))
# print("Nomes restantes:", lista_para_sorteio)

In [ ]:
import random

# Certifica-se de que a lista original não seja modificada
nomes_para_sortear = lista_para_sorteio[:]

def sortear_nome(lista_de_nomes):
  """Sorteia um nome aleatório da lista e o remove."""
  if not lista_de_nomes:
    return "Todos os nomes foram sorteados!"
  nome_sorteado = random.choice(lista_de_nomes)
  lista_de_nomes.remove(nome_sorteado)
  return nome_sorteado

# Exemplo de uso:
print("Nome sorteado:", sortear_nome(nomes_para_sortear))
print("Nomes restantes:", nomes_para_sortear)

In [ ]:
import random

# Certifica-se de que a lista original não seja modificada
nomes_para_sortear_for = lista_para_sorteio[:]

print("Iniciando sorteio com loop for:")
# Use um loop for para sortear todos os nomes
for i in range(len(lista_para_sorteio)):
  nome_sorteado = sortear_nome(nomes_para_sortear_for)
  print("Sorteado: ", nome_sorteado)
  print("Restantes: ", nomes_para_sortear_for)
  print("-" * 20) # Separador para melhor visualização

In [ ]:
#Dicionários

In [ ]:
inventory = {"apple": 100, "orange": 80, "banana": 100, "mango": 200}

all(inventory.values())
True

# Update the stock
inventory["apple"] = 0
all(inventory.values())